
<style>
#header{
    height: 100px;
    width: 100%;
    background-color: rgb(110, 120, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    

}
#logoAndName{
    font-size: 30px;
    font-weight: bold;
    color: white;
    display: flex;
    gap: 0px;
    text-shadow: 1px 0px 2px rgb(128, 128, 128);
}
#logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
   
    }
span{
    
    font-style: italic;

}

a{
    color: rgba(255, 255, 255, 0.807);
    text-decoration: none;
    font-weight: 500;
    background-color: rgba(226, 255, 255, 0.359);
    padding: 9px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;

    text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.504);
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.53);
}
.sign:hover{    text-shadow: 1px 0px 2px black;
    box-shadow: 1px 0px 2px black;
    background-color: rgba(226, 255, 255, 0.51);
    color: white;
    padding: 10px;
   
}

</style>

    <div id="header">
        <ul id="logoAndName">
            <li><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-symmetry-horizontal" viewBox="0 0 16 16" id="logo">
                <path d="M13.5 7a.5.5 0 0 0 .24-.939l-11-6A.5.5 0 0 0 2 .5v6a.5.5 0 0 0 .5.5zm.485 2.376a.5.5 0 0 1-.246.563l-11 6A.5.5 0 0 1 2 15.5v-6a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 .485.376M11.539 10H3v4.658z"/>
              </svg></li>
              <li><span>Trackify</span></li>
        </ul>

          <ul type="none" id="s">
            <a class="sign" href="/signIn.html"><li >sign In</li></a>
            <a class="sign" href="#"><li>sign Up</li></a>
            <li></li>
          </ul>
    </div>
    
